* {
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: greenyellow;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px black solid;
  box-shadow: 0 0 5px 2px;
}
.title {
  /* moving from viewport which we will
      consider an "element" so use margin */
  margin-left: 1rem;
  font-size: 1.5rem;
  flex-basis: 20%;
  color: black;
}
.choices {
  display: flex;
  color: #fff;
  list-style: none;
  justify-content: space-between;
  flex-basis: 20%;
}
.item {
  /* like a button so em to scale  */
  font-size: 1.5em;
  padding: 0 1.5em;
  flex-basis: 10%;
}
.home,
.search,
.login,
.register,
.category {
  text-decoration: none;
  color: black;
}


