.recipe-container {
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 40px;
  border-radius: 5px;
  background-color: hsl(86, 100%, 50%);
  width: 500px;
  box-shadow: 0 0 2px 2px;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
}
