.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 300px));
  gap: 10px;
}
.search-button {
  border: 1px solid black;
  outline: none;
  padding: 0.5em 1em;
  background-color: rgb(9, 255, 0);
  border-radius: 3px;
}

.search-form {
  display: flex;
  justify-self: center;
  align-self: center;
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 40px;
}

@media (max-width: 1050px) {
  .list {
    grid-template-columns: auto;
  }
  .container {
    grid-template-columns: auto;
  }
}
